.profile-section {
  display: flex;
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
}

.profile-header {
  position: relative;
  width: 40%;
  border-bottom: 1px solid #ddd;
  display: flex;
}

.profile-info {
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding: 20px;
  text-align: center;
  align-items: center;
  gap: 20px;
}

.profile-pic {
  width: 80%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-details h2 {
  font-size: 1.8rem;
  color: #222;
  margin-bottom: 15px;
}

.profile-details p {
  color: #555;
  margin: 5px 0 10px;
}

.edit-btn {
  padding: 8px 16px;
  background: var(--color-secondary);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.edit-btn-div a {
  color: #fff;
  font-size: 15px;
}

.edit-btn:hover {
  background: var(--color-primary);
}

.profile-content {
  display: flex;
  padding: 20px;
  gap: 20px;
  width: 60%;
}

.profile-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.card {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
}

.card h3 {
  margin-bottom: 10px;
  font-size: 1.3rem;
  color: #222;
}

.card p,
.card li {
  color: #555;
  font-size: 0.95rem;
  margin: 6px 0;
}

.card ul {
  padding-left: 20px;
  list-style: disc;
}

.order-table {
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 40vh;
}

.order-table table {
  width: 100%;
  border-collapse: collapse;
}

.order-table thead {
  position: sticky;
  top: 0;
  z-index: 20;
  background: #f5f5f5;
}

.order-table th,
.order-table td {
  padding: 15px;
  text-align: center;
}

@media (max-width: 768px) {
  .profile-section {
    flex-direction: column;
  }

  .profile-header {
    width: 100%;
    justify-content: center;
  }

  .profile-info {
    flex-direction: row;
    margin-top: 40px;
    width: 80%;
    text-align: left;
  }

  .profile-content {
    width: 100%;
  }

  .profile-details {
    width: 50%;
  }

  .profile-pic {
    width: 50%;
  }

  .profile-details h2 {
    font-size: 1.5rem;
  }

  .card h3 {
    font-size: 1.1rem;
  }

  .card p,
  .card li {
    font-size: 0.9rem;
  }
}

@media (max-width: 412px) {
  .profile-info {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .profile-details {
    width: 100%;
  }

  .profile-details h2 {
    font-size: 1.2rem;
  }

  .profile-details p {
    font-size: 0.85rem;
  }

  .edit-btn {
    padding: 6px 12px;
    font-size: 0.85rem;
  }

  .card {
    padding: 15px;
  }

  .order-table th,
  .order-table td {
    padding: 10px;
  }

  .order-table {
    max-height: 70vh;
  }
}